
   <div class="all">
    <section class="about" id="about"> <br>
      <h2 class="heading">About <span>Me</span></h2>
      <div class="about-content">
        <h3>{{profile.title}}</h3>
        <p>{{profile.bio}}</p>
      </div>
       </section>
  
     <section class="education" id="education">
      <h2 class="heading">My <span>Journey</span></h2><br>
      <div class="education-row">
        <div class="education-column">
          <h1 class="title">Experience</h1>
          <div class="education-box">
            <div class="education-content">
              <div class="pro" *ngFor="let exp of experiences">
                <h3>Role : {{ exp.role }}</h3>
                <h3>Company : {{ exp.company }}</h3>
                <p>{{ exp.description }}</p>
                <div class="year"><mat-icon class="year">calendar_today</mat-icon> {{ exp.duration }} </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="education-column">
          <h1 class="title">Education</h1>
          <div class="education-box">
            <div class="education-content">
              <div class="pro" *ngFor="let edu of educations">
                
                <h3>Qualification : {{ edu.course }} at {{ edu.place }}</h3>
                <p>{{ edu.description }}</p>
                <div class="year"><mat-icon class="year">calendar_today</mat-icon> {{ edu.year }} </div>
              </div>
            </div>
          </div>
        </div>
  
        
        
        
      </div>
     </section>
     <section class="skills" id="skills">
      <h2 class="heading">My <span>Skills</span></h2>
      <div class="skills-row">
        <div class="skills-column">
          <h2 class="title">Technical Skills</h2>
          <div class="skills-box">
            <div class="skills-content">
              <div class="progress" *ngFor="let s of profile.technicalskill">
                <h3>{{ s.skill }}<mat-progress-bar mode="determinate" [value]="s.percentage"></mat-progress-bar><span> {{ s.percentage }}%</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   </div>
 
