<!-- <div class="section2">
    <h1 style="color: rgb(0, 0, 0);"><u>Projects</u></h1><br>
  <h3>Houseboat Booking Website</h3><br>
  <p>
     Built an application program to reduce the manual work for managing travel, tour 
    and customer using HTML, CSS, JavaScript, PHP, Apache, MySQL. The application provides flexibility to users, 
    automated confirmation, availability calendar display and real-time confirmation.</p><br>
   <h3>Placement Managing Software.</h3><br> <p>Built a Desktop application for managing placement activities in the college using 
    HTML, CSS, JavaScript and Python. The application aims to develop individual skills and to pass information about 
    the upcoming placements in the college</p> 
</div> -->
<div class="section2"><br>
  <h2 class="title">Projects</h2><br>
  <div class="projects-container">
    <div *ngFor="let project of projects" class="pro">
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
    </div>
  </div>
</div>
