<!-- <div class="section3">
  
      
    <p class="contactinfo"><img src="./../../assets/images/eamil.jpg" alt="email.png" >:<a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">amalmathewbiju&#64;gmail.com</a> </p>
    <p class="contactinfo"><a href="https://chatgpt.com/c/a5b3c5ef-7b09-48c8-b4c3-e2cd595f90e6"><img src="./../assets/images/LinkedIn_logo_initials.png" alt=""></a><a href="https://www.linkedin.com/in/amal-mathew-biju-1328b4232/">LinkedIn</a></p>
    <p class="contactinfo"><a>Phone :8129766164</a></p>
  </div> -->
  

  <div class="contacts">
    <h2>Contact Information</h2>
    <div class="contact-card" *ngFor="let contact of contacts" 
         (click)="redirectTo(contact)">
      <div class="contact-info">
        <h3>{{ contact.type }}</h3>
        <p>{{ contact.value }}</p>
      </div>
    </div>
  </div>
  
  <app-morecontacts></app-morecontacts>

  
  

