mat-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it is above other content */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }