

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
  a{
    color: rgb(206, 8, 8);
  }
  html {
    font-size: 62.5%;
  }
  
  /* Light Theme (Default) */
  body.light-theme label{
    background-color: rgb(221, 216, 216);
    color: rgb(0, 0, 0);
   
  }
  body.light-theme  .chat-window{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
  }
  body.light-theme .pro, .chat-window{
    border: 1px solid black;
  }
  /* Dark Theme */
  body.dark-theme {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  body.dark-theme p{
    
    color: rgb(255, 255, 255);
  }
  
  /* Optional: Styling for the Toggle Button */
  
  
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/* Light Theme */
body.light-theme {
  background-image: url("assets/images/light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Dark Theme */
body.dark-theme {
  background-image: url("assets/images/dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
