<body>
    <!-- <div class="bodyitems">
        <h1>
         Hai my name is Amal and I am a web developer
        </h1> 
    </div>
    <div class="mainitem">
        <div class="mainitem1"><h1>WEB DESIGNING</h1></div>
    <div class="and">&</div>
    <div class="mainitem2"><h1>WEB DEVELOPMENT</h1></div>
    </div> -->
    <section class="home">
        <div class="home-img">
            <img src="assets/images/amal.jpg" alt="home">
        </div>
        <div class="home-content">
            <h1>Hai,Hello</h1>
            <h1>My name is<span> {{profile.name}}</span></h1>
            <h3 class="typing-text">I am a <span></span></h3><br>
            <h4 class="line-1 anim-typewriter">{{ profile.bio }}</h4>
            
        </div>
        
        
    </section>
    
</body>   


        
    
   









  
  
    
 