<body>
   
    <section class="home">
        <div class="home-img">
            <img src="assets/images/amal.jpg" alt="home">
        </div>
        <div class="home-content">
            <h1>Hai ,</h1>
            <h1>My name is <br><i> <span> {{profile.name}}</span></i></h1>
            <h3 class="typing-text">I am a <span></span></h3><br>
            <h4 class="line-1 anim-typewriter">{{ profile.bio }}</h4>
            
        </div>
        
        
    </section>
    
</body>   


        
    
   









  
  
    
 